@import "tailwindcss";

@theme {
  /* --font-sans: 'Inter', 'sans-serif'; */
  --font-destaque: "Inter", sans-serif;

  /* --font-sans: 'Nunito Sans', 'sans-serif';; */

  /* --padding-lateral: 24px; 
  --container-max-width: 1280px; */

}